#DIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 108.5px;
    left: 0px;
    min-height: 108.5px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(119, 119, 119);
    text-size-adjust: 100%;
    top: 0px;
    width: 1263px;
    column-rule-color: rgb(119, 119, 119);
    hyphens: none;
    perspective-origin: 631.5px 54.25px;
    transform-origin: 631.5px 54.25px;
    caret-color: rgb(119, 119, 119);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0.6875px solid rgb(211, 211, 211);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 2px solid rgb(204, 204, 204);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 16px / 16px arial, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_1*/

#DIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    cursor: pointer;
    height: 90px;
    left: 0px;
    min-height: 86px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(119, 119, 119);
    text-size-adjust: 100%;
    top: 0px;
    width: 1263px;
    column-rule-color: rgb(119, 119, 119);
    hyphens: none;
    perspective-origin: 631.5px 45px;
    transform-origin: 631.5px 45px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 16px / 20.8px arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    overflow: hidden;
    padding: 0px 0px 10px 15px;
}/*#DIV_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    cursor: pointer;
    float: left;
    height: 80px;
    text-decoration: none solid rgb(119, 119, 119);
    text-size-adjust: 100%;
    width: 60px;
    column-rule-color: rgb(119, 119, 119);
    hyphens: none;
    perspective-origin: 30px 40px;
    transform-origin: 30px 40px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 16px / 20.8px arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 15px 0px 0px;
}/*#DIV_3*/

#IMG_4 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    cursor: pointer;
    height: 60px;
    max-width: 60px;
    text-decoration: none solid rgb(119, 119, 119);
    text-size-adjust: 100%;
    width: 60px;
    column-rule-color: rgb(119, 119, 119);
    hyphens: none;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 16px / 20.8px arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#IMG_4*/

#A_5 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    text-decoration: underline solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 16px / 20.8px arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#A_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    cursor: pointer;
    height: 68px;
    text-decoration: none solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    vertical-align: top;
    width: 1188px;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    perspective-origin: 594px 34px;
    transform-origin: 594px 34px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 14px / 18.2px arial, sans-serif;
    margin: 0px 0px 0px 60px;
    outline: rgb(0, 114, 188) none 0px;
    padding: 8px 15px 0px;
}/*#DIV_6*/

#A_7 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    display: block;
    height: 17px;
    text-decoration: none solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    width: 1158px;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    perspective-origin: 579px 8.5px;
    transform-origin: 579px 8.5px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 700 normal 13px / 17px arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#A_7*/

#SPAN_8 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    height: 16px;
    max-height: 35px;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1158px;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    perspective-origin: 579px 8px;
    transform-origin: 579px 8px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 16px arial, sans-serif;
    margin: 5px 0px 4px;
    outline: rgb(153, 153, 153) none 0px;
    overflow: hidden;
}/*#SPAN_8*/

#SPAN_9 {
    box-sizing: border-box;
    color: rgb(118, 177, 76);
    cursor: pointer;
    text-decoration: none solid rgb(118, 177, 76);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(118, 177, 76);
    hyphens: none;
    caret-color: rgb(118, 177, 76);
    border: 0px none rgb(118, 177, 76);
    font: normal normal 700 normal 17px / 16px arial, sans-serif;
    outline: rgb(118, 177, 76) none 0px;
}/*#SPAN_9*/

#SPAN_10 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: italic normal 400 normal 12px / 12px arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_10*/

#A_11 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: italic normal 400 normal 12px / 12px arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#A_11*/

#SPAN_12 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    cursor: pointer;
    text-decoration: none solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 14px / 18.2px arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#SPAN_12*/

#DIV_13 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    cursor: pointer;
    text-decoration: none solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    width: 1158px;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    perspective-origin: 579px 0px;
    transform-origin: 579px 0px;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 14px / 18.2px arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#DIV_13*/

#DIV_14 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 14px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 54.0156px;
    column-rule-color: rgb(255, 255, 255);
    hyphens: none;
    perspective-origin: 27px 7px;
    transform-origin: 27px 7px;
    caret-color: rgb(255, 255, 255);
    background: rgb(255, 184, 81) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 9px / 14px arial, sans-serif;
    margin: 0px 3px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 5px;
}/*#DIV_14*/

#SPAN_15 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    width: 25.4688px;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    perspective-origin: 12.7344px 6px;
    transform-origin: 12.7344px 6px;
    caret-color: rgb(153, 153, 153);
    border-top: 0px none rgb(153, 153, 153);
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: 0px none rgb(153, 153, 153);
    border-left: 0px none rgb(153, 153, 153);
    font: normal normal 700 normal 13px / 16.9px arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px 0px 0px;
}/*#SPAN_15*/

#SPAN_16 {
    box-sizing: border-box;
    color: rgb(0, 114, 188);
    cursor: pointer;
    display: none;
    text-decoration: none solid rgb(0, 114, 188);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 114, 188);
    hyphens: none;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 114, 188);
    border: 0px none rgb(0, 114, 188);
    font: normal normal 400 normal 14px / 18.2px arial, sans-serif;
    outline: rgb(0, 114, 188) none 0px;
}/*#SPAN_16*/

#DIV_17 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    width: 33.0625px;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    perspective-origin: 16.5313px 6px;
    transform-origin: 16.5313px 6px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 700 normal 13px / 16.9px arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_17*/

#SPAN_18 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 700 normal 13px / 16.9px arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_18*/

#SPAN_19 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: inline-block;
    height: 13px;
    speak: none;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    vertical-align: top;
    width: 13px;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 13px / 13px sd-mobile;
    margin: 1px 2px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_19*/

#SPAN_19:before {
    color: rgb(153, 153, 153);
    content: '"î…¦"';
    cursor: pointer;
    speak: none;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    hyphens: none;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 13px / 13px sd-mobile;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_19:before*/
